<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <button >Primary</button>
    </body>

</html>

<script>
    
    const foo = {}
    //尝试先不写foo.prop = 123，看一下控制台输出结果
    console.log("foo1:", foo)
    //看一下控制台输出结果
    foo.prop = 123
    console.log("foo2:", foo)
    console.log("foo.prop:", foo.prop)

    //尝试其他的属性
    foo.str = 'asdfa'
    console.log("foo.str:", foo.str)
    //foo = 1
    //报错：Uncaught TypeError: Assignment to constant variable.
    //console.log("foo3:", foo)

    const a = []
    console.log("a1:", a)
    a.push('abc')
    console.log("a2:", a)
    a.length = 0
    console.log("a3:", a)
    a = ['abc']
    //报错：Uncaught TypeError: Assignment to constant variable.
    console.log("a4:", a)

</script>