<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>for 循环中的let命令</title>

    </head>
    <body>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
        <button >Primary</button>
    </body>

</html>

<script>
    var btns = document.querySelectorAll('button')
    for(var i=0;i<btns.length;i++){
        btns[i].onclick=function(){
            console.log('第' + i + '个按钮');
        }
        
    }
</script>